@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--body-background);
}

#header {
    background: linear-gradient(0deg, rgba(14,14,14,1) 5%, rgba(14,14,14,0) 15%), url(./assets/background.png) no-repeat fixed center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    min-height: auto;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    color: var(--text-color);
}

#navbar > ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.burger-button {
    display: none;
}

.connect-button {
    background-color: var(--text-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid transparent;
    padding: 0 10px;
    cursor: pointer;
}

.connect-button:hover {
    background-color: var(--color-logo);
    color: var(--text-color);
}

.connect-button > span {
    font-weight: 700;
    font-size: .9em;
}

#main-header {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    margin: 25px 0;
}

.desc {
    color: var(--text-color);
    font-size: 1.4em;
    font-weight: 400;
}

.profiles-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 2 250px;
    gap: 30px;
}

.profile-pics {
    display: flex;
}

.profile-pics > img {
    width: 80%;
    height: fit-content;
    position: relative;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
    transition: top .2s, left .2s, box-shadow .2s;
    border-radius: 50%;
}

.profile-pics > img:nth-of-type(1) {
    z-index: 1;
}
.profile-pics > img:nth-of-type(2) {
    z-index: 2;
}
.profile-pics > img:nth-of-type(3) {
    z-index: 3;
}
.profile-pics > img:nth-of-type(4) {
    z-index: 4;
}

.profile-pics > img:not(:first-child) {
    margin-left: -3.5em;
}

.profile-pics > img:hover {
    left: -12px;
    top: -12px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    filter: brightness(1.2) contrast(1.05);
    transition: top .2s, left .2s, box-shadow .2s;
}





.mais-artistas{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-end;
    margin-left: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
    color: var(--text-color);
}

.mais-artistas > p:first-child {
    font-weight: 700;
}

.call-msg {
    flex: 4 320px;
}

.call-white {
    font-size: 3em;
    font-weight: 700;
    color: var(--text-color);
}

.call-red {
    font-size: 3em;
    font-weight: 700;
    color: var(--color-logo);
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 150px;
}

.badge > img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
    height: max-content;
    justify-content: space-evenly;
    overflow: auto;
}

.gallery-container > div {
    flex: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-container > div > img {
    border: 1px solid white;
    width: 125%;
    min-width: 200px;
    height: auto;
    margin-top: 20px;
}

#main {
    display: flex;
    border-bottom: 1px solid var(--subtitle-color);
}

.main-side-info {
    flex: 1;
    border-right: 1px solid var(--subtitle-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
}

.main-side-info > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-side-info > div > p:first-child {
    font-weight: 700;
    font-size: 2.5em;
    color: var(--text-color);
}

.main-side-info > div > p:nth-child(2) {
    font-weight: 500;
    font-size: 1.5em;
    color: var(--subtitle-color);
}

.main-main {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.main-info {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    align-items: center;
    font-size: 1.1em;
    flex-wrap: wrap;
    color: var(--text-color);
}

.main-info > div {
    width: 33%;
    flex: 1;
    padding: 0 1.5%;
}

.main-info > div > p:nth-child(3) {
    margin-bottom: 25px;
}

.text-highlight {
    color: var(--color-logo);
}

.main-info > div > p > a {
    color: var(--text-color)
}

.main-image {
    background-color: rgba(0, 2, 128, 0.267);
    background: url(./assets/banner.png) no-repeat center center;
    background-size: cover;
    flex: 1 200px;
}

#popular {
    color: white;
    padding-top: 50px;
}

#popular > div:first-child, #best-artists > div:first-child {
    padding: 5% 7%;
}

#popular > div > p, #best-artists > div > p {
    color: var(--text-color);
    font-size: 3em;
    font-weight: 700;
}

#popular > div > p > span, #best-artists > div > p > span {
    color: var(--color-logo);
}

.popular-frames {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
}

.popular-frames> div:first-child {
    border-right: 1px solid var(--text-color);
}

.popular-half {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.popular-half > div {
    margin: 0 15px 25px 15px;
}

.popular-justify {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    padding: 8px 0;
}


.popular-name {
    font-size: .75em;
    color: var(--subtitle-color);
    font-weight: 500;
}

.rocket-points {
    font-size: .75em;
    color: var(--color-logo);
    font-weight: 400;
}

.artists-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5%;
}

.mini-card-artist {
    background-color: var(--card-color);
    display: flex;
    font-size: 1.25em;
    font-weight: 500;
    color: var(--text-color);
    padding: 40px;
    margin: 40px 10px;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    flex: 0 1 400px;
}

.mini-card-artist:hover {
    background-color: var(--color-logo);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color .3s;
}

.mini-card-artist:hover > div > p:nth-child(2) {
    color: var(--text-color)
}

.mini-card-artist > div > p:nth-child(2) {
    color: var(--color-logo);
}

.mini-card-artist > div > p {
    padding: 10px 0;
}

.more-artists {
    display: flex;
    justify-content: center;
}

.more-artists a {
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    width: 22%;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

#footer {
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.footer-top {
    border-bottom: 1px solid var(--subtitle-color);
    display: flex;
    padding: 3%;
    justify-content: space-between;
}

.footer-top > img {
    width: fit-content;
}
.goUp {
    background-color: var(--color-logo);
    padding: 25px;
    cursor: pointer;
}

.goUp > img {
    transition: filter .2s;
}

.goUp:hover > img {
    filter: invert(100%);
    transition: filter .2s;
}

.footer-middle {
    display: flex;
}

.newsletter {
    flex: 2;
    border-right: 1px solid var(--subtitle-color);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8%;
    height: auto;
}

.all-news {
    color: var(--color-logo);
    font-size: 2em;
    font-weight: 500;

}

.all-news::first-line {
    color: var(--text-color);
}

.news-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-form > input {
    border: 1px solid transparent;
    background-color: var(--color-input);
    color: var(--subtitle-color);
    padding: 15px;
    font-size: 1.4em;
    min-width: 215px;
    width: 65%;
    height: 58px;
    transition: border .2s;
}

.news-form > input:focus-within {
    border: 1px solid var(--color-logo);
    border-right: 1px solid transparent;
    outline: none;
    transition: border .2s;
}

.news-form > button {
    border: none;
    background-color: var(--text-color);
    color: var(--color-input);
    padding: 15px;
    font-size: 1.4em;
    font-weight: 700;
    cursor: pointer;
    transition: color .2s;
}

.news-form > button:hover {
    color: var(--color-logo);
    transition: color .2s;
}

.site-map {
    flex: 4;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 0;
}

.site-map > div > ul > li {
    font-size: 1.4em;
    color: var(--subtitle-color);
    list-style: none;
    margin-top: 25px;
    transition: color .2s;
}

.site-map > div > ul > li:first-of-type {
    color: var(--text-color);
    font-weight: 700;
}

.site-map > div > ul > li:last-of-type {
    margin-bottom: 25px;
}

.site-map > div > ul > li > a {
    color: var(--subtitle-color);
    text-decoration: none;
    transition: color .2s;
}

.site-map > div > ul > li > a:hover {
    color: var(--color-logo);
    transition: color .2s;
}

.footer-base {
    display: flex;
    padding: 3%;
    justify-content: space-between;
    border-top: 1px solid var(--subtitle-color);
}

.footer-base a {
    color: var(--subtitle-color);
    text-decoration: none;
    font-size: 1.5em;
    transition: color .2s;
}

.footer-base a:hover {
    color: var(--text-color);
    transition: color .2s;
}

.social-links {
    display: flex;
    gap: 50px;
}

.social-links > a > img {
    transition: filter .2s;
}

.social-links > a:hover > img {
    filter: brightness(0) saturate(100%) invert(100%);
    transition: filter .2s;
}






@media only screen and (max-width: 768px) {
    nav > div:first-of-type > img {
        width: 75%;
    }
    #navbar > ul {
        gap: 0;
    }
    #navlinks {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: -3000px;
        background-color: var(--black-text);
        width: 40%;
        height: 100vh;
        z-index: 6;
        align-items: flex-start;
        justify-content: start;
        padding-top: 90px;
        gap: 0;
        transition: left .3s;
    }
    #navlinks.show {
        left: 0;
        box-shadow: 10px 0 25px black;
        transition: left .3s;
    }
    .black-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000000;
        opacity: 0;
        visibility: hidden;
        transition: opacity .6s, visibility .7s;
    }
    #black-overlay.curtain {
        visibility: visible;
        opacity: 0.5;
        transition: opacity .3s, visibility .2s;
    }
    #navlinks > li {
        padding: 10% 0 10% 25%;
        font-size: 1.25em;
        border-bottom: 1px solid var(--subtitle-color);
        width: 100%;
        justify-content: start;
        align-items: center;
        display: flex;
        border-left: 8px solid transparent;
        transition: border .25s;
    }
    #navlinks > li:first-of-type {
        border-top: 1px solid var(--subtitle-color);
    }
    #navlinks > li:hover {
        border-left: 8px solid var(--color-logo);
        transition: border .25s;
        font-weight: 700;
    }


    .burger-button {
        display: flex;
        flex-direction: column;
        gap: 5px;
        z-index: 7;
        position: absolute;
        left: 50%;
    }
    .burger-button > div {
        height: 3px;
        width: 25px;
        background-color: var(--text-color);
        transition: all 0.4s;
    }
    .change .bb1 {
        transform: rotate(45deg) translate(6px, 6px);
    }
    .change .bb2 {
        opacity: 0;
    } 
    .change .bb3 {
        transform: rotate(-45deg) translate(5px, -5px);
    }    
    .popular-frames > div:first-child {
        border-right: unset;
    }
    .footer-middle {
        flex-direction: column;
    }
    .news-form {
        max-width: 480px;
        width: 100%;
        margin: 15px;
    }
    .news-form > input {
        font-size: 1em;
    }
    .newsletter {
        border-right: 1px solid transparent;
        border-bottom: 1px solid var(--subtitle-color);
        margin-top: 25px;
        padding-bottom: 25px;
    }
    .all-news {
        text-align: center;
    }
    .site-map > div > ul > li {
        font-size: 1em;
    }
    .footer-top > img {
        width: 70%;
        max-width: 258px;
    }
    .footer-base {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-links {
        width: 100%;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 480px) {
    .call-white, .call-red {
        font-size: 2em;
    }
    .badge > img {
        max-width: 150px;
    }
    .connect-button > span {
        font-size: .75em;
    }
    #navbar > ul {
        width: 60%;
    }
    #navbar > ul > li {
        padding: 10% 0 10% 15%;
    }
    #main {
        flex-direction: column;
    }
    .main-sid
    e-info {
        flex-direction: row;
        padding: 25px 5px;
    }
    .main-side-info {
        margin-top: 15px;
        border: 1px solid transparent;
    }
    .main-side-info > div > p:first-child {
        font-size: 2em;
    }
    .main-side-info > div > p:nth-child(2) {
        font-size: 1em;
    }
    .main-info {
        flex-direction: column;
    }
    .main-info > div {
        width: 98%;
        margin-bottom: 15px;
    }
    .popular-frames {
        padding: 0;
    }
    .popular-half > div > img {
        width: 100%;
    }
    .mini-card-artist {
        min-width: 300px;
        margin: 5px 10px;
    }
    .more-artists a {
        font-size: 1em;
        width: 60%;
    }
}
