@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--body-background);
}

body > section:not(:first-child) {
    height: 1000px;
    width: 100%;
}

#header {
    background: linear-gradient(0deg, rgba(14,14,14,1) 5%, rgba(14,14,14,0) 15%), url(./assets/background.png) no-repeat fixed center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    min-height: 950px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    gap: 25px;
    color: var(--text-color);
}

#main-header {
    display: flex;
    width: 100%;
    gap: 20px;
}

.desc {
    color: var(--text-color);
    font-size: 1.25em;
    font-weight: 400;
}

.profiles-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid red;
    justify-content: space-between;
    align-items: flex-start;
    flex: initial;
}

.profile-pics {
    display: flex;
}

.profile-pics > img:not(:first-child) {
    margin-left: -3.5em;
}

.mais-artistas{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-end;
    margin-left: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
    color: var(--text-color);
}

.mais-artistas > p:first-child {
    font-weight: 700;
}

.call-msg {
    width: 60%;
    border: 1px solid blue;
    flex: auto;
}

.call-white {
    font-size: 3em;
    font-weight: 700;
    color: var(--text-color);
}

.call-red {
    font-size: 3em;
    font-weight: 700;
    color: var(--color-logo);
}

.badge {
    width: 15%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: initial;
}

.badge > img {
    width: 100%;
    height: auto;
}



.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
    height: max-content;
    justify-content: space-evenly;
}

.gallery-container > div {
    flex: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-container > div > img {
    border: 1px solid white;
    width: 125%;
    min-width: 200px;
    height: auto;
    margin-top: 20px;
}